/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
/*Importing the prebuild themes*/

/*this is the employees css*/

div.container {
    margin: 0px 40px;
}

.fill-remaining-space {
    /*This fills the remaining space  by using flexbox due to every toolbar now using flexbox row layout*/
    flex: 1 1 auto;
}

/*this is the Form css */

form.normal-form {
    margin: 10px;
}

.controller-container {
    width: 100%;
    padding: 5%;
   
}

.controller-container>* {
    width: 100%;
   
}

.add-bottom-padding{
    padding-bottom: 10px;
}

mat-radio-group mat-radio-button {
    margin-left: 5px;
}

.button-row button{
    margin: 5px;
}